*{
  box-sizing: border-box;
  /* display:grid; */
}
.mainBlock{
  display:grid;
grid-template-rows: 10vh 80vh 10vh;
grid-template-columns: 7% 75% 18%;
}
.headerBlock{
  background-color: green;
grid-column: 1 /span 3;
grid-row: 1;
display: inline-block;
display: inline-grid;
}
h1{
  text-align: center;
  display: inline-block;
}
span{

}

.centerBlock{
display: flex;

justify-content: space-evenly;
  background-color: blue;
  /* grid-template-columns: 290px 290px 290px; */
  grid-template-rows: 100%;
  grid-row: 2;
  grid-column: 2;
  padding-top: 13%;
  padding-bottom:3%;
  /* padding:15%; */

}
h3{
  display: inline;
}
h4{
  padding:0px;
  height:0px;
  margin: 0px;
}
.rightBlock{
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
}
.leftCenterBlock,.middle,.rightCenterBlock{
  width:310px;
    background-color: pink;
    padding-top: 90px;
display: grid;
justify-items:center;
display: flex;
flex-direction: column-reverse;
align-items: center;

}
.topCenterB{
  background-color:black;
  width:50px;

}

.midCenterB{
  background-color:black;
  width:100px;
}
.bottomCenterB{
background-color:black;
  width:150px;

}
.bigBlock{
  background-color:yellow;
    width:175px;
    display: none;
}
.biggerBlock{
  background-color:red;
    width:200px;
    display: none;
}
.bigBodBlock{
  background-color:green;
    width:225px;
    display: none;
}
.tallBlock{
  background-color:purple;
    width:250px;
      display: none;
}

.tallerBlock{
  padding-top: 75px;
  background-color:purple;
    width:275px;


      display: none;
}
.sneaky,.sneaky1{padding-top: 75px;
background-color:purple;
  width:330px;
  padding-top: 50px;

    display: none;}
.levelUp{
  cursor:cell;
  position: absolute;
  left:.2%;
bottom:45.2%;
padding:60px;
background-image: url("https://www.freeclipartnow.com/d/40231-6/arrow-blue-rounded-up.jpg");
background-size: contain;
background-repeat: no-repeat;

}
.levelDown{
  cursor:cell;
  position: absolute;
  left:.2%;
bottom:30%;
padding:60px;
background-image: url("  https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiM8QSLNhW6NJYQcS6wHtdO4K49lGOOlBtqJHjdtiS3HCZby9D&s");
background-size: contain;
background-repeat: no-repeat;
}

.leftBlock{
display: grid;
  background-color: white;
grid-column: 1;
padding-top: 0px;
padding-bottom: 250px;
padding-left: 0px;
grid-row: 2 /span 3;
}
.container{
height:170px;
}
.bottomLeft,.topLeft{
  background-color: white;
}
.bottomLeft{
  margin-top: 30px;
}
.topLeft{
  margin-bottom: 30px;
}
.rightBlock{  background-color: violet;
grid-column: 3;
grid-row:2 /span 3;
}
.bottom{
grid-row: 3;
display: flex;
justify-content: space-around;
}
.topCenterB,.midCenterB,.bottomCenterB{
  height: 100px;
}
.bottomCenterB,.topCenterB,.midCenterB,.bigBlock,.biggerBlock,.bigBodBlock,.tallBlock{
  padding:0px;

}
.bottomCenterB,.topCenterB,.midCenterB,.bigBlock,.biggerBlock,.bigBodBlock,.tallBlock{
  height:60px;

}
