*{
  box-sizing: border-box;
  /* display:grid; */
}
.mainBlock{
  display:grid;
grid-template-rows: 10vh 80vh 10vh;
grid-template-columns: 7% 75% 18%;
}
.headerBlock{
  background-color: green;
grid-column: 1 /span 3;
grid-row: 1;
display: inline-block;
display: inline-grid;
}
h1{
  text-align: center;
  display: inline-block;
}
span{

}
.centerBlock{
display: flex;

justify-content: space-evenly;
  background-color: blue;
  /* grid-template-columns: 290px 290px 290px; */
  grid-template-rows: 100%;
  grid-row: 2;
  grid-column: 2;
  padding-top: 13%;
  padding-bottom:3%;
  /* padding:15%; */

}
.rightBlock{
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
}
.leftCenterBlock,.middle,.rightCenterBlock{
  width:310px;
    background-color: pink;
    padding-top: 90px;
display: grid;
justify-items:center;
display: flex;
flex-direction: column-reverse;
align-items: center;

}
.topCenterB{
  background-image:url("https://media0.giphy.com/media/eoxomXXVL2S0E/200.webp?cid=790b7611dffe8362a96a536e025d4fd793e5b1056eabfc2c&rid=200.webp");
  width:100px;
  background-size: cover;
  background-repeat: no-repeat;
}
.midCenterB{
  background-image:url("https://media2.giphy.com/media/h30Uk86LypXpe/200.webp?cid=790b7611b4275e794a61d6ae823372fa57c30d8eaca5b786&rid=200.webp");
  width:150px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 20px;
}
.bottomCenterB{
padding-top: 50px;
  background-image:url("https://media3.giphy.com/media/BmmfETghGOPrW/giphy.gif?cid=790b7611b4275e794a61d6ae823372fa57c30d8eaca5b786&rid=giphy.gif");
  background-size: cover;
  background-repeat: no-repeat;
  width:200px;

}


.leftBlock{
display: grid;
  background-color: white;
grid-column: 1;
padding-top: 0px;
padding-bottom: 250px;
padding-left: 0px;
grid-row: 2 /span 3;
}
.container{
height:170px;
}
.bottomLeft,.topLeft{
  background-color: teal;
}
.bottomLeft{
  margin-top: 30px;
}
.topLeft{
  margin-bottom: 30px;
}
.rightBlock{  background-color: violet;
grid-column: 3;
grid-row:2 /span 3;
}
.bottom{
grid-row: 3;
display: flex;
justify-content: space-around;
}
.topCenterB,.midCenterB,.bottomCenterB{
  height: 100px;
}
